<h1>Canvas</h1> 
<canvas id="whiteboard" width="300" height="300"></canvas>
<script type="text/javascript" charset="utf-8" src="/draw.es6"></script>
<br />
<input type="button" name="clear" value="クリア" onclick="clean();">
<br />
<a href="#" id="download" download="canvas.png" onclick="beforeDownload('download')">ダウンロード</a>