<!DOCTYPE html>
<html lang="ja">
<head>
  <title>web canvas</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%= yield %>
<footer>
  <div id="footer">
    &copy; 2017 hirokwgch
  </div>
</footer>
</body>
</html>